# .gitignore
.env
.env.local
*.pyc
__pycache__/
.DS_Store
*.sqlite3
media/
staticfiles/
backups/
debug/
venv/
**/.claude/settings.local.json

# Certificados SSL e configurações locais
/ssl/
ssl/
.well-known/
/etc/letsencrypt/
/var/www/html/
local_settings.py
config/local_settings.py

# Logs
logs/
*.log